pretrained_models/

.idea/
.DS_Store

**__pycache__
**.pyc
**/.RData
**/.Rhistory
**/.Rproj.user
*.ipynb_checkpoints
.Rproj.user
**.html
**/predict_aoa_updated_files
**/predict_aoa_updated_cache

**-checkpoint.ipynb

slides/

data/dumped_plot_data/
data/dumped_embeddings/

data/processed/childes_gloss.txt
